* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

h1 {
  padding: 20px;
  color: grey;
}

.content-set {
  width: 840px;
  margin: 50px auto;
}

section {
  border-bottom: 1px solid grey;
  margin-bottom: 30px;
  padding-bottom: 30px;
}


