*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

header{
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

.container{
  width: 1024px;
  margin: 0 auto;
}

.logo{
  height: 70px;
  float: left;
}

.nav{
  float: right;
}

.nav-list{
  float: left;
  width: 120px;
  line-height: 70px;
  color: #fafafa;
  padding: 0 30px;
  list-style: none;
  font-size: 16px;
}

.nav-list a {
  color: #fafafa;
}

#mv{
  width: 100%;
  height: 650px;
  text-align: center;
  color: #fafafa;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

.mv-title{
  padding-top: 200px;
  font-family: 'Raleway', sans-serif;
  font-size: 64px;
}

#protfolio{
  background-color:#eceff1;
}

.heading{
  text-align:center;
  font-size:32px;
  padding-top:90px;
}

.heading::after{/*  これ覚えてなかったので復習ポイント  */
  content:"";
  display:block;
  width:70px;
  height:3px;
  margin:8px auto 0 auto;
  background-color:#ec715f; 
}

.heading-text{
  text-align:center;
  font-size:16px;
  padding-top:30px;
}

.production-group{
  width:920px;
  padding:30px 0 90px 0;
  margin:0 auto;
}

/* float　復習 */
.production{
  float:left;
  width:300px;
  height:250px;
  margin:10px 10px 0 0;
  background-size:cover;
  background-position:center;
}

.bg-1{
  background-image:url(img/sketch.jpg);
}

.bg-2{
  background-image:url(img/websuku.png);
}

.bg-3{
  background-image:url(img/write.jpg);
}

.bg-4{
  background-image:url(img/webcamp.png);
}

.bg-5{
  background-image:url(img/talk.jpg);
}

.bg-6{
  background-image:url(img/webcamp-mother.png);
}

/* 復習：nth */
.production:nth-child(-n+3){
  margin-top:0;
}

.production:nth-child(3n){
  margin-right:0;
}

/* 復習:clear */
.clearfix::after{
  content:"";
  display:block;
  clear:both;
}
