* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}

.nav-list {
  border: 1px solid black;
  border-right-width: 0px;
  border-left-width: 0px;
  text-align: center;
}

.nav-list-item {
  display: inline-block;
  margin: 15px 20px;
}

.main {
  width: 800px;
  margin: 50px auto ;
  display: flex;
  flex-wrap: wrap;
}

.main1 {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}
.main2 {
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}
.main3 {
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}
.main4 {
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}
.main5 {
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}
.main6 {
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}
.main7 {
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}
.main8 {
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}
.main9 {
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
}
.main10 {
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
}
.main11 {
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
}
.main12 {
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}

.footer-text {
  color: #fff;
}
