* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 960px;
  margin: 0 auto;
}

li {
  padding: 20px;
  list-style: none;
}

li:nth-child(odd) {
  background-color: #c0c0c0;
}
